<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin.css') }}"/>
</head>
<body>
    <div id="adminPage" class="d-flex flex-row">
        <div id="sideBar">
            <div id="brand"><h3 style="color:  #7960fc;">Ngọc Dung</h3></div>
            <div id="menu" class="d-flex flex-column">
                <button class="menuItems" onclick="openCategory('dashboard')">Dashboard</button>
                <button class="menuItems" onclick="openCategory('analytics')">Analytics</button>
                <button class="menuItems" onclick="openCategory('profile')">Profile</button>
                <button class="menuItems" id="customerSideBar" onclick="openCategory('customer')">Customer</button>
                <hr>
                <button class="menuItems" onclick="openCategory('products')">Products</button>
                <button class="menuItems" id="orderProcessingSidebar" onclick="openCategory('ordersProcessing')">Processing Orders</button>
                <button class="menuItems" id="orderTransitSidebar" onclick="openCategory('ordersTransit')">Transit Orders</button>
                <button class="menuItems" onclick="openCategory('chat')">Chat</button>
                <hr>
                <button class="menuItems" onclick="openCategory('settings')">Settings</button>
                <button id="logout" class="menuItems">Logout</button>
            </div>
        </div>

        <div id="content">
            <div id="helloPage" class="d-flex flex-row">
                <div id="helloAdmin" class="helloStyle"></div>
                <div id="timeNow" class="helloStyle"></div>
            </div>
            <hr/>
            
            <div id="dashboard" class="menu" ><h2>Dashboard</h2></div>
            <div id="analytics" class="menu" style="display:none"><h2>Analytics</h2></div>
            <div id="profile" class="menu" style="display:none"><h2>Profile</h2></div>

            <div id="customer" class="menu" style="display:none">
                <div class="d-flex flex-row">
                    <p style="min-width: 100px;">Code</p>
                    <p style="min-width: 300px;">Email</p>
                    <p style="min-width: 200px;">Username</p>
                    <p style="min-width: 100px;">Level</p>
                    <p style="min-width: 200px; text-align: right;">Total cost</p>
                    <p style="min-width: 200px; text-align: right;">Order Num</p>
                </div><br>
                <div id="infoCustomer"></div>
            </div>

            <div id="products" class="menu" style="display:none"><h2>Products</h2></div>

            <div id="ordersProcessing" class="menu" style="display:none">
                <div id="infoOrderProcessing"></div>
            </div>
            <div id="ordersTransit" class="menu" style="display:none">
                <div id="infoOrderTransit"></div>
            </div>
            <div id="chat" class="menu" style="display:none"><h2>chat</h2></div>
            <div id="settings" class="menu" style="display:none"><h2>settings</h2></div>
        </div>
        
    </div>
   
    <script src="{{ url_for('static', filename='js/admin.js') }}"></script>
</body>
</html>