<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Info</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/customerAdmin.css') }}"/>
</head>
<body>
    <div id="customerAdmin" class="d-flex flex-row">
        <div id="sideBar">
            <div id="menu" class="d-flex flex-column">
                <button class="menuItems" onclick="openCategory('info')">General Info</button>
                <button class="menuItems" onclick="openCategory('processing')">Order Processing</button>
                <button class="menuItems" onclick="openCategory('transit')">Order in Transit</button>
                <button class="menuItems" onclick="openCategory('confirmed')">Order Confirmed</button>
                <button class="menuItems" onclick="openCategory('canceled')">Order Canceled</button>
                <hr />
                <button class="menuItems" id="back">Back</button>
            </div>
        </div>

        <div id="content">
            <div id="info" class="option">
                <h2>Thông tin tài khoản</h2>
                <div id="detailInfo"></div>
            </div>

            <div id="processing" class="option" style="display:none">
                <div class="d-flex flex-row">
                    <h2 style="text-align: center; width: 70%;">Đang xử lý đơn hàng</h2>
                    <div>
                        <div id="sumOrder"></div>
                        <div id="numOrder"></div>
                        <div id="avgOrder"></div>
                    </div>
                </div>
                
                <br><br>
                <div class="d-flex flex-row">
                    <p style="min-width: 100px;">ID</p>
                    <p style="min-width: 500px;">Name</p>
                    <p style="min-width: 150px;">Brand</p>
                    <p style="min-width: 100px; text-align: right; padding-right: 20px;">Price</p>
                    <p style="min-width: 100px; text-align: right; padding-right: 20px;">Quantity</p>
                    <p style="min-width: 150px; text-align: right; padding-right: 20px;">Total</p>
                    <p style="min-width: 100px;">Date</p>
                </div>
                <hr />
                <div id="orderProcessing"></div>
            </div>

            <div id="transit" class="option" style="display:none">
                <div class="d-flex flex-row">
                    <h2 style="text-align: center; width: 70%;">Đang vận chuyển đơn hàng</h2>
                    <div>
                        <div id="sumOrder"></div>
                        <div id="numOrder"></div>
                        <div id="avgOrder"></div>
                    </div>
                </div>
                
                <br><br>
                <div class="d-flex flex-row">
                    <p style="min-width: 100px;">ID</p>
                    <p style="min-width: 500px;">Name</p>
                    <p style="min-width: 150px;">Brand</p>
                    <p style="min-width: 100px; text-align: right; padding-right: 20px;">Price</p>
                    <p style="min-width: 100px; text-align: right; padding-right: 20px;">Quantity</p>
                    <p style="min-width: 150px; text-align: right; padding-right: 20px;">Total</p>
                    <p style="min-width: 100px;">Date</p>
                </div>
                <hr />
                <div id="orderTransit"></div>
            </div>

            <div id="confirmed" class="option" style="display:none">
                <div class="d-flex flex-row">
                    <h2 style="text-align: center; width: 70%;">Đã nhận hàng</h2>
                    <div>
                        <div id="sumOrder"></div>
                        <div id="numOrder"></div>
                        <div id="avgOrder"></div>
                    </div>
                </div>
                
                <br><br>
                <div class="d-flex flex-row">
                    <p style="min-width: 100px;">ID</p>
                    <p style="min-width: 500px;">Name</p>
                    <p style="min-width: 150px;">Brand</p>
                    <p style="min-width: 100px; text-align: right; padding-right: 20px;">Price</p>
                    <p style="min-width: 100px; text-align: right; padding-right: 20px;">Quantity</p>
                    <p style="min-width: 150px; text-align: right; padding-right: 20px;">Total</p>
                    <p style="min-width: 100px;">Date</p>
                </div>
                <hr />
                <div id="orderConfirmed"></div>
            </div>
            
            <div id="canceled" class="option" style="display:none"><h2>Order Canceled</h2></div>
        </div>
    </div>

    
    <script src="{{ url_for('static', filename='js/customerAdmin.js') }}"></script>
</body>
</html>