<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/user.css') }}"/>
</head>

<body>
    <div class="header">
        <nav class="navbar navbar-expand-lg">
            <div class="headerLogo" style="margin-right: 20px;">
                <a class="navbar-brand" href="/">Ngọc Dung</a>
                <button class="navbar-toggler" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            
            <div class="headerMenu">       
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Trang chủ</a>
                    </li>
                </ul>
            </div>

            <div class="headerSearch">
                <form class="form-inline my-2 my-lg-0 formSearch">
                    <input class="form-control" type="search" placeholder="Hãy tìm kiếm bất cứ thứ gì!!!" style="width: 500px;">
                    <button class="btn btn-outline-success" type="submit" style="margin-left: 10px;">Search</button>
                </form>
            </div>          

            <div class="d-flex flex-row account">
                <div id="divLogin">
                    <button class="btn btn-secondary" type="button" id="btnLogin"></button>
                </div>
                <div id="divAccount">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="margin-left: 84%;">
                        <a class="dropdown-item" id="userAccount">Thông tin tài khoản</a>
                        <a class="dropdown-item" id="userOrder">Đơn hàng của tôi</a>
                        <a class="dropdown-item" id="btnLogout" href="/">Đăng xuất</a>
                    </div>
                </div>
                <div id="divMyShoppingCart">
                    <button class="btn btn-secondary" type="button" id="btnLoginAccount" onclick="window.location.href='../shoppingCart';">Giỏ hàng</button>
                </div>
            </div>
        </nav>
    </div>

    <div class="d-flex flex-row">
        <div id="accountSideBar">
            {% for item in sideBar %}
                {% if item[0] == title %}
                    <a href='http://127.0.0.1:5000/user/{{item[1]}}'><button class="btnAccountSideBarSelected">{{item[0]}}</button></a>
                {% else %}
                    <a href='http://127.0.0.1:5000/user/{{item[1]}}'><button class="btnAccountSideBar">{{item[0]}}</button></a>
                {% endif %}
            {% endfor %}
        </div>
 
        
        <div id="accountContent">
            {% if title == 'Thông tin tài khoản' %}
                <h4>Thông tin cá nhân</h4>
                <div class="d-flex flex-row">
                    <p class="titleContent">Họ và tên: </p>
                    <p class="valueContent">{{user.username}}</p>
                </div>
                <div class="d-flex flex-row">
                    <p class="titleContent">Email: </p>
                    <p class="valueContent">{{user.email}}</p>
                </div>
                <div class="d-flex flex-row">
                    <p class="titleContent">Số điện thoại: </p>
                    <p class="valueContent">{{user.phone}}</p>
                </div>
                <div class="d-flex flex-row">
                    <p class="titleContent">Địa chỉ: </p>
                    <p class="valueContent">{{user.address}}</p>
                </div>
                <div class="d-flex flex-row">
                    <p class="titleContent">Thời gian tạo tài khoản: </p>
                    <p class="valueContent">{{user.createdTime}}</p>
                </div>
                <div class="d-flex flex-row">
                    <p class="titleContent">Thời gian đăng nhập gần nhất: </p>
                    <p class="valueContent">{{user.loginTime}}</p>
                </div>
            {% elif title == 'Đơn hàng đã giao' %}
                <h4>Đơn hàng đã giao</h4>
                {% for order in orderList %}
                    <h6 class="date">{{ order.keys() | first }}</h6>

                    {% for item in order[order.keys() | first] %}
                        <a href="../{{item.url}}">
                            <div class="d-flex flex-row">                        
                                <img class="imageProduct" src="{{item.image}}" alt="{{item.name}}">
                                <div class="infoProduct">
                                    <div>{{item.name}}</div>
                                    <div class="price">Đơn giá: {{item.price}}</div>
                                    <div>Số lượng: {{item.quantity}}</div>
                                </div>
                                <p class="price totalPrice" align="right">{{item.total}}</p>                 
                            </div>
                        </a>
                    {% endfor %}
                    <br>
                {% endfor %}
            {% elif title == 'Đơn hàng đang xử lý' %}  
                <h4>Đơn hàng đang xử lý</h4>

                {% for order in orderList %}
                    <h6 class="date">{{ order.keys() | first }}</h6>

                    {% for item in order[order.keys() | first] %}
                        <a href="../{{item.url}}">
                            <div class="d-flex flex-row">                        
                                <img class="imageProduct" src="{{item.image}}" alt="{{item.name}}">
                                <div class="infoProduct">
                                    <div>{{item.name}}</div>
                                    <div class="price">Đơn giá: {{item.price}}</div>
                                    <div>Số lượng: {{item.quantity}}</div>
                                </div>
                                <p class="price totalPrice" align="right">{{item.total}}</p>                 
                            </div>
                        </a>
                    {% endfor %}
                    <br>
                {% endfor %}
            {% elif title == 'Đơn hàng đang vận chuyển' %}  
                <h4>Đơn hàng đang vận chuyển</h4>
            {% endif %}

        </div>
        
    </div>

    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="{{ url_for('static', filename='js/user.js') }}"></script>
</body>
</html>

    
